$BREAKPOINT-DESK: "only screen and (min-width: 1280px)";
$BREAKPOINT-TABLET-LAND: "only screen and (min-width: 975px)";
$BREAKPOINT-TABLET: "only screen and (min-width: 600px)";
$BREAKPOINT-MOBILE-LAND: "only screen and (min-width: 200px)";
@media #{$BREAKPOINT-MOBILE-LAND} {
  nav {
    display: none;
  }
  .title{
    position: relative;
    top: -1rem;
    display: flex;
    justify-content: center;
    font-size: 3.3rem;
    text-shadow: 2px 3px 0px $color-1;
    letter-spacing: 2px;
    margin: auto;
  }
}
@media #{$BREAKPOINT-TABLET} {
  .header{
    display: flex;
  }
}
@media #{$BREAKPOINT-TABLET-LAND} {
  .header {
    display: flex;
    h1 {
      font-size: 3.3rem;
      text-shadow: 2px 3px 0px $color-1;
      text-align: center;
      letter-spacing: 2px;
      margin: 0 auto;
    }
    nav {
      display:flex;
      position: absolute;
      top: 16px;
      left: 16px;
      font-size: 1.3rem;

      ul {
        display: flex;

        a {
          text-decoration: none;
          color: $white;
          border-radius: 10px;
          width: 102px;
          text-align: center;
          margin-right: 5px;

          &:visited {
            text-decoration: none;
            color: $white;
          }
          &:hover {
            background: $black;
          }
        }
        a.nav-active {
          background: $color-2;

          &:hover {
            background: $black;
          }
        }
      }
    }
  }
}
@media #{$BREAKPOINT-DESK} {
  .header {
    display: flex;
    h1 {
      top: 2rem;
      font-size: 4.6rem;
      text-shadow: 2px 3px 0px $color-1;
      text-align: center;
      letter-spacing: 2px;
      margin: 0 auto;
    }
    nav {
      display:flex;
      position: absolute;
      top: 16px;
      left: 16px;
      font-size: 1.3rem;

      ul {
        display: flex;

        a {
          text-decoration: none;
          color: $white;
          border-radius: 10px;
          width: 102px;
          text-align: center;
          margin-right: 5px;

          &:visited {
            text-decoration: none;
            color: $white;
          }
          &:hover {
            background: $black;
            font-size: 1.2rem;
          }
        }
        a.nav-active {
          background: $color-1;

          &:hover {
            background: $black;
          }
        }
      }
    }
  }
}